[submodule "deps/crazyflie-firmware"]
    path = deps/crazyflie-firmware
    url = https://github.com/IMRCLab/crazyflie-firmware.git
[submodule "deps/dynobench"]
    path = deps/dynobench
    url = https://github.com/quimortiz/dynobench.git
