# core dependencies
PyYAML>=5.4
numpy>=1.21.0
rowan>=1.1.1
mujoco>=2.3.0          # mujoco python bindings
glfw                   # mujoco.glfw support

# optimization
cvxpy>=1.2.0
scs>=3.2.4.post1
osqp>=0.6.2

# rendering and helpers
PyOpenGL
absl-py
etils[epath]
clarabel>=0.5.0
imageio[ffmpeg]

# various scientific utils
scipy>=1.11.0
cffi
joblib
jinja2
fsspec
typing-extensions
importlib-resources
zipp
pycparser
MarkupSafe>=2.0